<div class="bg-gray-100 p-8 rounded-lg shadow-lg">
  <%= form_with url: calculate_loan_profit_path, data: { turbo_frame: 'loan_profit_form' }, class: "space-y-6" do |form| %>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      <div class="space-y-2">
        <%= form.label :target_property, class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :target_property, class: "block w-full p-2.5 bg-white border border-gray-300 rounded-md text-gray-900 placeholder-gray-500 focus:ring-emerald-500 focus:border-emerald-500" %>
      </div>
      <div class="space-y-2">
        <%= form.label :loan_term, class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :loan_term, class: "block w-full p-2.5 bg-white border border-gray-300 rounded-md text-gray-900 placeholder-gray-500 focus:ring-emerald-500 focus:border-emerald-500" %>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      <div class="space-y-2">
        <%= form.label :purchase_price, class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :purchase_price, class: "block w-full p-2.5 bg-white border border-gray-300 rounded-md text-gray-900 placeholder-gray-500 focus:ring-emerald-500 focus:border-emerald-500" %>
      </div>
      <div class="space-y-2">
        <%= form.label :repair_budget, class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :repair_budget, class: "block w-full p-2.5 bg-white border border-gray-300 rounded-md text-gray-900 placeholder-gray-500 focus:ring-emerald-500 focus:border-emerald-500" %>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      <div class="space-y-2">
        <%= form.label :after_repair_value, class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :after_repair_value, class: "block w-full p-2.5 bg-white border border-gray-300 rounded-md text-gray-900 placeholder-gray-500 focus:ring-emerald-500 focus:border-emerald-500" %>
      </div>
      <div class="space-y-2">
        <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :name, class: "block w-full p-2.5 bg-white border border-gray-300 rounded-md text-gray-900 placeholder-gray-500 focus:ring-emerald-500 focus:border-emerald-500" %>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      <div class="space-y-2">
        <%= form.label :email, class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :email, class: "block w-full p-2.5 bg-white border border-gray-300 rounded-md text-gray-900 placeholder-gray-500 focus:ring-emerald-500 focus:border-emerald-500" %>
      </div>
      <div class="space-y-2">
        <%= form.label :phone, class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :phone, class: "block w-full p-2.5 bg-white border border-gray-300 rounded-md text-gray-900 placeholder-gray-500 focus:ring-emerald-500 focus:border-emerald-500" %>
      </div>
    </div>
    <div>
      <%= form.submit class: "w-full py-3 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500" %>
    </div>
  <% end %>
</div>
