<!DOCTYPE html>
<html>
  <head>
    <title>LongleaflendingLoanProfitCalculator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-14 px-6">
      <header class="bg-white">
        <%= render 'layouts/nav' %>
      </header>

      <%= yield %>

      <footer class="bg-white">
        <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
          <p class="mt-10 text-center text-xs leading-5 text-gray-500">© 2024 Longleaf Lending, LLC. All rights reserved.</p>
        </div>
      </footer>
    </main>
  </body>
</html>
